<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="darkslategrey">
    <link rel="icon" href="favicon.ico">
    <title>Simple Chat App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<div id="appEngine" class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-md-3">
            <h3 class="mb-3 mt-3 mt-md-5 text-white text-center">Simple Chat App</h3>
            <template v-if="!isLogged">
                <form @submit.prevent="loginUser">
                    <div class="card">
                        <div class="card-header">
                            Login To Chat
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" v-model="login.username" class="form-control"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" v-model="login.password" class="form-control"
                                       placeholder="Username">
                            </div>
                            <div v-if="showLoginError" class="alert alert-danger mb-0" role="alert">
                                Invalid Username and Password combination.
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button v-if="!isLoading" class="btn btn-primary">
                                Login
                            </button>
                            <a v-if="!isLoading" @click.prevent="registerUser" class="btn btn-success text-white">
                                Join
                            </a>
                            <button v-if="isLoading" class="btn btn-secondary" disabled>Loading...</button>
                        </div>
                    </div>
                </form>
            </template>
            <template v-if="isLogged&&username!==null">
                <div class="card border-0 shadow">
                    <div class="card-header bg-teal">
                        <span class="text-white">Username:</span> <strong class="text-warning">{{username}}</strong>
                        <a @click.prevent="logout" href="#" class="text-danger float-right">Logout</a>
                    </div>
                    <div class="card-body p-0">
                        <div id="messages-panel" style="max-height: 60vh; overflow: auto" class="p-2">
                            <template v-for="(m, mIndex) in messages">
                                <div style="padding: 2px 5px 2px 5px !important;"
                                     :class="m.username===username?myMessageClass:replyMessageClass">
                                    <small v-if="m.username!==username">{{m.username}}</small>
                                    <div class="mt-0 ml-2">
                                        {{m.message}}
                                    </div>
                                </div>
                            </template>
                            <template v-if="!messages.length">
                                <div class="text-center">
                                    <h5 class="text-muted">Loading previous messages...</h5>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #075E54">
                        <div class="reply-input-container">
                            <form class="row" @submit.prevent="onFormSubmit">
                                <div class="col">
                                    <input placeholder="Type a Message..." v-model="form.message"
                                           class="form-control chat-reply-btn w-100"
                                           autocomplete="off"/>
                                </div>
                                <div v-if="form.message.length" class="col-auto">
                                    <button type="submit" class="btn btn-success btn-block">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script src="/app.js"></script>
</body>
</html>
