*::-webkit-scrollbar {
  width: 5px;
  background-color: white; }
*::-webkit-scrollbar-thumb {
  background-color: rgba(47, 79, 79, 0.5);
  border-radius: 7px; }
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(47, 79, 79, 0.7); }
*::-webkit-scrollbar-thumb:active {
  background-color: rgba(47, 79, 79, 0.81); }
*.clickable {
  cursor: pointer; }
*.draggable {
  cursor: move; }
*.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
*.mt-vh-10 {
  margin-top: 10vh !important; }
*.mt-vh-20 {
  margin-top: 20vh !important; }
*.mt-vh-30 {
  margin-top: 30vh !important; }
*.mt-vh-40 {
  margin-top: 40vh !important; }
*.mb-vh-10 {
  margin-bottom: 10vh !important; }
*.mb-vh-20 {
  margin-bottom: 20vh !important; }
*.mb-vh-30 {
  margin-bottom: 30vh !important; }
*.mb-vh-40 {
  margin-bottom: 40vh !important; }

#messages-panel {
  background-image: url("/bg.jpg"); }

body {
  background-color: #253f3f;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw; }

.my-chat {
  background-color: #DCF8C6 !important;
  color: black !important; }

.reply-chat {
  background-color: #ffffff !important;
  color: black !important; }

.bg-teal {
  background-color: #075E54 !important;
  border-width: 0px; }

.chat-reply-btn {
  border-radius: 50px; }

@media (max-width: 576px) {
  .reply-input-container {
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: darkslategrey;
    padding: 15px 10px 20px 10px !important;
    margin: 0px; } }

/*# sourceMappingURL=app.css.map */
